xml-schema/src/META-INF/order.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<xsd:schema xmlns="http://www.myschema.com/schema/order"  
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"  
    targetNamespace="http://www.myschema.com/schema/order"  
    elementFormDefault="qualified" attributeFormDefault="unqualified">  
    <xsd:import namespace="http://www.springframework.org/schema/beans" />  
    <xsd:element name="or">  
        <xsd:complexType>  
            <xsd:complexContent>  
                <xsd:extension base="beans:identifiedType">  
                    <xsd:attribute name="orderId" type="xsd:integer">  
                        <xsd:annotation>  
                            <xsd:documentation>  
                                订单ID  
                            </xsd:documentation>  
                        </xsd:annotation>  
                    </xsd:attribute>  
                    <xsd:attribute name="userId" type="xsd:string">  
                        <xsd:annotation>  
                            <xsd:documentation>  
                                用户ID  
                            </xsd:documentation>  
                        </xsd:annotation>  
                    </xsd:attribute>  
                </xsd:extension>  
            </xsd:complexContent>  
        </xsd:complexType>  
    </xsd:element>  
</xsd:schema>   